## if 문

In [1]:
x = 95

if x >= 90:
    print('pass')

pass

In [2]:
x = 75

if x >= 90:
    print("pass")
else:
    print("fail")

fail

In [3]:
x = 85

if x >= 90:
    print("Excellent")
elif 80 <= x < 90:
    print("Good")
else:
    print("Bad")

Good

## for 문

In [4]:
for a in range(6):
    print(a)

0
1
2
3
4
5

In [5]:
myFriends = ["James", "Robert", "Lisa", "Mary"]

for myfriend in myFriends:
    print(myfriend)

James
Robert
Lisa
Mary

In [6]:
list(range(5))

[0, 1, 2, 3, 4]

In [7]:
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

for x in x_list:
    for y in y_list:
        print(x, y)

x1 y1
x1 y2
x2 y1
x2 y2

In [10]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

for k in range(len(names)):
    print(names[k], scores[k])

James 95
Robert 96
Lisa 97
Mary 94

In [13]:
for x, y in zip(names, scores):
    print(x, y)

James 95
Robert 96
Lisa 97
Mary 94