## 01. 함수 정의와 호출
- 인자도 반환 값도 없는 함수

In [1]:
def my_func():
    print("My first funtion!")
    print("This is a function")

In [3]:
my_func()

My first funtion!
This is a function

- 인자는 있으나 반환 값이 없는 함수

In [4]:
def my_friend(friendName):
    print('{}는 나의 친구입니다.'.format(friendName))

In [5]:
my_friend('철수')

철수는 나의 친구입니다.

In [7]:
def my_student_info(name, school_ID, phoneNumber):
    print('-'*20)
    print('-학생이름:', name)
    print('-학급번호', school_ID)
    print('-전화번호', phoneNumber)

In [8]:
my_student_info('현아', '01', '010-1111-1111')
my_student_info('진수', '02', '010-2222-2222')

--------------------
-학생이름: 현아
-학급번호 01
-전화번호 010-1111-1111
--------------------
-학생이름: 진수
-학급번호 02
-전화번호 010-2222-2222

- 인자도 있고 반환 값도 있는 함수

In [9]:
def my_cal(x, y):
    z = x*y
    return z

In [10]:
my_cal(3, 5)

15

## 02. 변수의 유효범위

In [11]:
a = 5 # 전역 변수

def func1():
    a = 1 # 지역 변수, func1에서만 사용
    print('[func1] local variable a =', a)

def func2():
    a = 2 # 지역 변수, func2에서만 사용
    print('[func2] local variable a =', a)

def func3():
    print('[func3] global variable a =', a)

def func4():
    global a # 함수 내에서 전역 변수를 변경하기 위해 선언
    a = 4 # 전역 변수 값 변경
    print('[func4] global variable a =', a)

In [15]:
func1()
func2()
func3()
func4()

[func1] local variable a = 1
[func2] local variable a = 2
[func3] global variable a = 5
[func4] global variable a = 4

## 03. 람다(lambda) 함수

In [16]:
# 파이썬에서 한 줄로 함수를 표현하는 함수

# 기본구조
# lambda <인자> : <인자 활용 수행 코드>

In [17]:
(lambda x : x**2) (3)

9

In [18]:
mySquare = lambda x : x**2
mySquare(2)

4

In [19]:
mySimpleFunc = lambda x,y,z : 2*x + 3*y + z
mySimpleFunc(1,2,3)

11

## 04. 유용한 내장 함수
- 형 변환 함수

In [20]:
int(0.123)

0

In [21]:
int(3.141592)

3

In [22]:
int(3.99)

3

In [23]:
int('1234')

1234

In [24]:
float(123)

123.0

In [25]:
str(123)

'123'

In [26]:
# 리스트, 튜플, 세트 데이터는 특성이 비슷해서 서로 변환 가능

- 최솟값과 최댓값을 구하는 함수

In [27]:
myNum = [10, 5 , 12, 0, 3.5, 99.5, 52]
[min(myNum), max(myNum)]

[0, 99.5]

In [28]:
myStr = 'abcde'
[min(myStr), max(myStr)]

['a', 'e']

- 절댓값과 전체 합을 구하는 함수

In [31]:
# 절댓값을 출력하는 함수

[abs(10), abs(-10)]

[10, 10]

In [32]:
# 전체합을 구하는 함수

sumList = [1,2,3,4,5,6,7,8,9,10]
sum(sumList)

55

- 항목의 개수를 구하는 함수

In [33]:
len('abcd')

4

In [35]:
len((1,2,3,4,5,6))

6

- 내장 함수의 활용

In [36]:
# 과목별 시험 점수
scores = [90, 80, 95, 85]

# 총점 계산을 위한 초깃값 설정
score_sum = 0
# 과목 수 계산을 위한 초깃값 설정
subject_num = 0

for score in scores:
    # 과목별 점수 모두 더하기
    score_sum += score
    # 과목 수 계산
    subject_num += 1

# 평균 구하기
average = score_sum / subject_num

print(f'총점:{score_sum}, 평균:{average}')

총점:350, 평균:87.5