## Mutable (변경 가능)
- 리스트, 딕셔너리, 집합

## Immutable (변경 불가능)
- 정수, 실수, 문자열, 튜플

In [3]:
t1 = (1, 2, 3)
# t2 = 1, 2, 3
print(type(t1))
# print(type(t2))

<class 'tuple'>

In [5]:
t1 = (1, 2, 3)
t2 = (4, 5)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5)

In [2]:
dict = {
    'name':'pey',
    'phone':'010-9999-1234',
    'birth':'1118'
}

print(dict)

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

In [6]:
dict['address'] = "Seoul"

In [7]:
dict

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118', 'address': 'Seoul'}

In [8]:
dict['birth']

'1118'

In [9]:
dict.keys()

dict_keys(['name', 'phone', 'birth', 'address'])

In [11]:
dict.values()

dict_values(['pey', '010-9999-1234', '1118', 'Seoul'])

In [12]:
for i in dict.keys():
    print(i)

name
phone
birth
address

In [14]:
dict.items()

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118'), ('address', 'Seoul')])

In [15]:
for i in dict.items():
    print(i)

('name', 'pey')
('phone', '010-9999-1234')
('birth', '1118')
('address', 'Seoul')

In [16]:
s1 = set([1, 2, 3])
print(s1)

{1, 2, 3}

In [18]:
s2 = set("hello")
print(s2)

{'h', 'o', 'e', 'l'}

In [19]:
s3 = set(["hello"])
print(s3)

{'hello'}

In [20]:
if [1, 2, 3]:
    print("true")
else:
    print('false')

true

In [21]:
a = [1,2,3]
b = a

print(id(a))
print(id(b))

4667857536
4667857536