In [1]:
a = 123
print(type(a))

<class 'int'>

In [6]:
a = 10
b = 2
c = 4

a // b # 몫

5

In [8]:
a % c # 나머지

2

In [13]:
a = "Life is too short\nyou need python"
print(type(a))

<class 'str'>

In [14]:
print(a)

Life is too short
you need python

In [16]:
b = '''
Life is too short
You need python
'''

print(b)

Life is too short
You need python

#### %s : 문자열
#### %d : 정수
#### .format()

In [19]:
number = 10
day = "three"
a = "I ate %d apples. So I was sick for %s days" %(number, day)
a

'I ate 10 apples. So I was sick for three days'

In [24]:
a = "I ate {1} apples. So I was sick for {0} days".format(day, number)
a

'I ate 10 apples. So I was sick for three days'

In [26]:
a = "I ate {number} apples. So I was sick for {day} days".format(day="three", number=10)
a

'I ate 10 apples. So I was sick for three days'

In [21]:
b = "I ate {0} apples".format(5)
b

'I ate 5 apples'

### 왼쪽정렬, 오른쪽정렬, 가운데정렬

In [28]:
a = "{:<10}".format("hi")
print(a)
b = "{:>10}".format("hi")
print(b)
c = "{:^10}".format("hi")
print(c)

hi
        hi
    hi

In [30]:
c = "{:*^10}".format("hi")
print(c)

****hi****

In [31]:
name = "홍길동"
age = 25
a = f"나의 이름은 {name}입니다. 나이는 {age}세 입니다."
print(a)

나의 이름은 홍길동입니다. 나이는 25세 입니다.

In [34]:
a = "hobby"
a.count('b')

2

In [36]:
b = "Python is best choice"
b.find('t') # 없으면 -1 출력

2