In [3]:
import re

In [2]:
text = "I like orange! I love orange!"

### re.match

- 텍스트 앞에서부터 매치 여부를 조사, 객체 리턴

In [9]:
re_object = re.match('I like orange', text)
re_object

In [8]:
type(re_object)

re.Match

In [6]:
if re_object:
    ... # 어떤 처리를 진행
else:
    pass

### re.search

- 문자열 내에서 정규표현식에 해당하는 가장 최초의 객체 반환

In [11]:
re_object = re.search('orange', text)
re_object

### re.findall()

- 정규표현식에 해당하는 문자열을 리스트에 담아 반환

In [12]:
search_list = re.findall('orange', text)
search_list

['orange', 'orange']

### re.finditer

In [16]:
# iterable?
# iterable한 속성을 가지고 있는 자료형 : list, tuple, str, dict
# 반복문 돌릴 수 있으면 반복가능한(iterable) 객체이다.

In [29]:
iter_object = re.finditer('orange', text)
iter_object

In [25]:
orange_list = list(iter_object)

In [30]:
for item in iter_object:
    print(item)

<re.Match object; span=(7, 13), match='orange'>
<re.Match object; span=(22, 28), match='orange'>

In [28]:
for item in orange_list:
    print(item)

<re.Match object; span=(7, 13), match='orange'>
<re.Match object; span=(22, 28), match='orange'>

### re.Match object 에서 사용할 수 있는 method

In [32]:
item

In [34]:
item.group()

'orange'

In [35]:
item.end(), item.start(), item.span()

(28, 22, (22, 28))

## 실습

- 해당 기사에서 네이버가 총 몇 번 나오는지 정규표현식을 이용 파이썬에서 확인

In [36]:
text = """
전국 언론 노동자들이 시민사회단체와 함께 네이버의 지역 차별을 규탄하고 개선을 촉구하는 무기한 릴레이 시위에 돌입했다.

전국언론노조와 전국 민주언론시민연합(민언련)은 1일 오전 11시 30분 경기도 성남시의 네이버 본사(그린팩토리) 앞에서 1인 시위를 시작했다. 이날 시위에는 오정훈 전국언론노동조합위원장, 전대식 지역신문노동조합협의회 의장(부산일보 지부장), 김명래 경인일보지부장, 민진영 경기민주언론시민연합 사무처장 등이 참여했다.

이들은 1인 시위를 통해 ‘네이버 뉴스 서비스 지역 언론 배제 개선’을 요구하고 ‘지역 공론장 형성을 위한 네이버의 공적 책임’을 촉구했다. 전국언론노조와 민언련은 매주 월요일마다 네이버 본사 앞 시위를 진행할 예정이다.

네이버는 최근 뉴스 서비스에 인공지능 에어스(AiRS) 알고리즘을 적용하는 방식으로 뉴스 편집 기능을 개편했다. 이후 지역 언론사 뉴스의 노출이 현격하게 줄어들었다. 아울러 100여 개 모바일 콘텐츠 제휴 언론사 중 독자가 구독을 선택할 수 있는 ‘채널’ 제휴사 44곳을 선정했는데 이 과정에서 지역 언론을 철저하게 배제했다. 이에 반발해 전국언론노조뿐 아니라 한국지방신문협회, 대한민국지방신문협의회 등 지역 신문 단체도 공동 성명을 발표하며 개선을 요구하고 나섰다. 전국시도의회의장협의회는 최근 총회에서 ‘네이버 지역 언론 배제 반대 성명’을 채택하기도 했다. 하지만 이 같은 반발에도 네이버는 뚜렷한 해결책을 내지 않고 있다.

오정훈 위원장은 1인 시위에서 “네이버는 해결책을 내놓기는커녕 뉴스제휴평가위원회에만 책임을 떠넘기고 있다”며 “지역 언론 배제 문제의 해결을 위한 대화 요구에 즉각 응답해 뉴스 유통사업자로서의 사회적 역할을 수행해야 한다”고 촉구했다.

전대식 의장은 “2005년 당시 네이버는 모든 언론사에 뉴스 유통망을 제공하는 우군이었지만 15년 만에 갑질하고 횡포하는 기업으로 전락했다”며 “지역 언론 종사자들이 만든 콘텐츠가 네이버에서 사라진 현실을 놓고 대화하고 상생적으로 풀어야 한다”면서 협의 창구 개설을 요구했다.

민언련은 국내 1위 포털 네이버가 지역 공론장을 만드는 사회적 책임을 외면하는 것은 현 정부의 지방분권 강화 정책에 위배되는 것이라고 지적했다.

민진영 사무처장은 “네이버가 지역신문에 대한 보도를 배제하고 시민들과의 소통 창구를 차단하는 것은 현 정부 정책인 지방분권 강화, 민주주의 정착이라는 큰 의제를 거역하는 것”이라며 “이런 행태는 반드시 중단돼야 하고 다양한 소식들이 소비자와 시민에게 전달돼야 한다”고 강조했다.

출처 : 제주新보(http://www.jejunews.com)
"""

In [37]:
re.findall('네이버', text)

['네이버',
 '네이버',
 '네이버',
 '네이버',
 '네이버',
 '네이버',
 '네이버',
 '네이버',
 '네이버',
 '네이버',
 '네이버',
 '네이버',
 '네이버']

In [38]:
len(re.findall('네이버', text))

13

In [1]:
# 파이썬에서 전화번호 찾기
numbers = """
010-2334-3234
02-302-3033
010-1321-4043
02-01-32
33-3303-3033
016-444-3042
"""

In [4]:
re.findall('[0-9]{3}-[0-9]{3,4}-[0-9]{4}', numbers)

['010-2334-3234', '010-1321-4043', '016-444-3042']

In [5]:
text = """
수강해야 하는 과목
(machine learning, deep learning)
수강한 과목
[python, django, web design, docker]
"""

In [6]:
print(re.sub('\[.*\]', '', text))

수강해야 하는 과목
(machine learning, deep learning)
수강한 과목

In [7]:
text.replace('[python, django, web design]', '')

'\n수강해야 하는 과목\n(machine learning, deep learning)\n수강한 과목\n[python, django, web design, docker]\n'

## 실습 1

- 정상적인 이메일만 출력해주세요.

In [8]:
# n개 이상 열어두고 싶을 경우 {n, } 식으로 열어둔다.
text = '수         강       해     야    하는    과      목'
re.sub('[ ]{2, }', ' ', text)
'수 강 해 야 하는 과 목'

'수 강 해 야 하는 과 목'

In [9]:
text = """
jkilee@gmail.com
kttredef@naver.com
akdef!aa.com
adekik@best.kr
abkereff@aacde
adefgree@korea.co.kr
"""

In [10]:
# 이메일 형식 : 아이디@도메인
# 아이디 부분 : [a-zA-Z0-9_] -> \w+
# 도메인 부분 : \w 
# 예시) naver.com / best.kr / r119.co.kr / korea.ai.kr 등등
# \w+\.[a-z]{2,}[\.a-z]{0,3}
# \w+\.[a-z]{2,}(\.[a-z]+)?

# 정규표현식 : \w+\@\w+\.[a-z]{2,}(\.[a-z]+)?

# \w{2,}@\w{2,}\..+ 
# \w+\@\w.[a-z]{2,}.*

In [11]:
# 힌트 1. @ 뒤의 도메인 부분을 어떻게 처리할지를 생각해야함

# 힌트 2. .co.kr / .com / .kr (수량 판단 - {, })

In [12]:
[email.group()
 for email in list(
     re.finditer('\w+\@\w+\.[a-z]{2,}(\.[a-z]+)?', text))]

['jkilee@gmail.com',
 'kttredef@naver.com',
 'adekik@best.kr',
 'adefgree@korea.co.kr']

## 실습 2

- 텍스트중에 <내용> 괄호로 묶여진 텍스트를 괄호 포함 모두 제거해주세요.

In [13]:
# 태그 형식

# < text > - 여는 태그
# </ text > - 닫는 태크

# 정규표현식
# \<[^\>]+\>

In [14]:
text = '안녕하세요 저는 <em>홍길동</em> 입니다. 나이는 24살 세계 최고의 <a href="aa.aa.com">데이터 분석가</a>가 되고싶습니다.'

In [15]:
re.sub('\<[^\>]+\>', '', text)

'안녕하세요 저는 홍길동 입니다. 나이는 24살 세계 최고의 데이터 분석가가 되고싶습니다.'

## 실습 3

- 1. 정규표현식을 이용 \<span>내용\</span>을 각각 추출
- 2. 추출된 항목에서 \<span>과 \</span> 태그를 모두 제거
- 3. 각각 총 3개의 항목을 리스트에 넣기

In [16]:
# 1. 정규표현식
# \<span\>.*?\<\/span\>
# \<span\>[^\<]+\<\/span\>

# 2. 실습 2에서 사용한 정규표현식 활용 (태그 삭제)

# 3. list에 담기

In [17]:
# 심화 - 한번에 처리 (전방탐색, 후방탐색 활용)
# (?<=\<span\>).*?(?=\<\/span\>)